HOST={{ host }}
ADMIN_MAIL={{ admin_email }}
TZ={{ timezone }}
PUID={{ user.1 }}
GUID={{ user.2 }}
MEDIA_DIR={{ media_dir }}
CONFIG_DIR={{ config_dir }}
DATA_DIR={{ data_dir }}
CLOUD_DIR={{ cloud_dir }}
LAN_SUBNET={{ net_mask | ansible.utils.ipaddr('net') }}
SMTP_HOST={{ smtp_host }}
SMTP_USER={{ smtp_user }}