[Interface]
Address = ${INTERFACE}.1
ListenPort = 51820
PrivateKey = $(cat /config/server/privatekey-server)
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth+ -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth+ -j MASQUERADE
PostUp = iptables -t mangle -A FORWARD -p tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu
PostDown = iptables -t mangle -D FORWARD -p tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu
{% set unique_dests = tunnel_port_forwarding | map(attribute='dest') | unique | list %}
{% for dest in unique_dests %}
PostUp = ip rule add from {{ dest }}/32 lookup main
PostDown = ip rule delete from {{ dest }}/32 lookup main
{% endfor %}
{% for rule in tunnel_port_forwarding %}
PreUp = iptables -t nat -A PREROUTING -p {{ rule.type }} --dport {{ rule.port }} -j DNAT --to-destination {{ rule.dest }}:{{ rule.port }}
PostDown = iptables -t nat -D PREROUTING -p {{ rule.type }} --dport {{ rule.port }} -j DNAT --to-destination {{ rule.dest }}:{{ rule.port }}
{% endfor %}
PreUp = iptables -t nat -A POSTROUTING -o %i -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o %i -j MASQUERADE
