- name: Install required system packages
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - python3-pip
      - virtualenv
      - python3-setuptools
      - python3-docker
    state: present
    update_cache: true

- name: Add Docker Repository
  ansible.builtin.deb822_repository:
    name: docker
    types: [deb]
    uris: "https://download.docker.com/linux/ubuntu"
    suites: '{{ ansible_facts["distribution_release"] }}'
    components: [stable]
    signed_by: https://download.docker.com/linux/ubuntu/gpg
    state: present
    enabled: true

- name: Update apt and install docker-ce
  ansible.builtin.apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: true

- name: Add the user to Docker group
  ansible.builtin.user:
    name: '{{ ansible_facts["user_id"] }}'
    group: docker

- name: Check if docker daemon configuration exists
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/roles/{{ inventory_hostname }}/files/docker/daemon.json"
  register: common_docker_daemon_config
  delegate_to: localhost
  become: false

- name: Copy docker daemon configuration
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/roles/{{ inventory_hostname }}/files/docker/daemon.json"
    dest: /etc/docker/daemon.json
    owner: root
    group: root
    mode: '0600'
  when: common_docker_daemon_config.stat.exists
  notify:
    - Restart docker
