source_directories:
  {{ item.value.source_directories | to_nice_yaml | trim | indent(2) }}

repositories:
  - path: /mnt/repository/{{ item.key }}
    label: local

working_directory: /tmp/borg-{{ item.key }}
numeric_ids: true
atime: true
ctime: true
files_cache: ctime,size
exclude_caches: true
exclude_if_present:
  - .nobackup

{% if 'exclude_patterns' in item.value %}
exclude_patterns:
  {{ item.value.exclude_patterns | to_nice_yaml | trim | indent(2) }}
{% endif %}

encryption_passphrase: {{ item.value.encryption_passphrase }}
compression: auto,zstd
archive_name_format: '{{ item.key }}-{now:%Y-%m-%d-%H%M%S}'

{{ item.value.retention_policy | to_nice_yaml }}

before_actions:
  - mkdir -p /tmp/borg-{{ item.key }}
  - sshfs borg@{{ item.key }}:/ /tmp/borg-{{ item.key }} -o sftp_server="/usr/bin/sudo /usr/lib/sftp-server"

after_actions:
  - umount /tmp/borg-{{ item.key }}

after_backup:
  - echo "Backup created."
  - apprise -vv -t "✅ BORGMATIC SUCCESS" -b "$(cat /tmp/backup_run.log)" "mailtos://$(cat ${SMTP_PASSWORD})@${SMTP_HOST}?user=${SMTP_USER}&to=${ADMIN_EMAIL}&from=${SMTP_USER}"

on_error:
  - echo "Error while creating a backup."
  - apprise -vv -t "❌ BORGMATIC FAILED" -b "$(cat /tmp/backup_run.log)" "mailtos://$(cat ${SMTP_PASSWORD})@${SMTP_HOST}?user=${SMTP_USER}&to=${ADMIN_EMAIL}&from=${SMTP_USER}"
