source_directories:
  {{ item.value.source_directories | to_nice_yaml | trim | indent(2) }}

repositories:
  - path: /mnt/repository/{{ item.key }}
    label: local

working_directory: /etc/borgmatic.d/{{ item.key }}
numeric_ids: true
atime: true
ctime: true
files_cache: ctime,size
exclude_caches: true
exclude_if_present:
  - .nobackup

{% if 'exclude_patterns' in item.value %}
exclude_patterns:
  {{ item.value.exclude_patterns | to_nice_yaml | trim | indent(2) }}
{% endif %}

encryption_passphrase: {{ item.value.encryption_passphrase }}
compression: auto,zstd
archive_name_format: '{{ item.key }}-{now:%Y-%m-%d-%H%M%S}'

{{ item.value.retention_policy | to_nice_yaml }}

before_actions:
  - sshfs borg@{{ item.key }}:/ /etc/borgmatic.d/{{ item.key }} -o StrictHostKeyChecking=no -o sftp_server="/usr/bin/sudo /usr/lib/sftp-server"

after_actions:
  - umount /etc/borgmatic.d/{{ item.key }}

apprise:
  services:
    - url: mailtos://${SMTP_PASSWORD}@${SMTP_HOST}?user=${SMTP_USER}&to=${ADMIN_EMAIL}&from=${SMTP_USER}
      label: mailto

  send_logs: true

  states:
    - fail
