- name: Get owner info
  ansible.builtin.user:
    name: '{{ common_docker_compose.owner | default(common_docker_compose_owner_name) }}'
    state: present
  register: common_docker_compose_owner
  check_mode: true

- name: Get user info
  ansible.builtin.user:
    name: '{{ common_docker_compose.user | default(common_docker_compose_user_name) }}'
    state: present
  register: common_docker_compose_user
  check_mode: true

- name: Get stack directory
  ansible.builtin.set_fact:
    common_docker_compose_directory: >-
      {{ common_docker_compose_owner.home }}/{{ common_docker_compose_directory_name }}

- name: Git checkout deployment repository
  become: true
  become_user: '{{ common_docker_compose_owner.name }}'
  ansible.builtin.git:
    repo: '{{ common_docker_compose.repo }}'
    version: main
    update: false
    dest: '{{ common_docker_compose_directory }}'

- name: Generate deployment env
  ansible.builtin.lineinfile:
    path: '{{ common_docker_compose_directory }}/.env'
    state: present
    regexp: "^{{ item.key }}="
    line: "{{ item.key }}={{ item.value }}"
    create: true
    mode: '0644'
  loop: >-
    {{
      [
        { 'key': 'PUID', 'value': common_docker_compose_user.uid },
        { 'key': 'PGID', 'value': common_docker_compose_user.group },
        { 'key': 'TZ', 'value': common_docker_compose_timezone },
        { 'key': 'DATA_DIR', 'value': common_docker_compose_data_dir }
      ] + common_docker_compose.environment
    }}

- name: Copy secrets
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: '{{ common_docker_compose_directory }}/.secrets/'
    owner: '{{ common_docker_compose_user.name }}'
    group: '{{ common_docker_compose_user.name }}'
    mode: '0600'
  loop: "{{ (playbook_dir ~ '/roles/' ~ inventory_hostname ~ '/secrets/docker/*') | fileglob }}"

- name: Set system environment variables
  ansible.builtin.lineinfile:
    path: '/etc/environment'
    state: present
    regexp: "^{{ item.key }}="
    line: "{{ item.key }}={{ item.value }}"
    create: true
    mode: '0644'
  loop:
    - key: COMPOSE_REPOSITORY
      value: '{{ common_docker_compose_directory }}'
    - key: COMPOSE_USER
      value: '{{ common_docker_compose_user.name }}'
    - key: COMPOSE_OWNER
      value: '{{ common_docker_compose_owner.name }}'
