- name: Create rclone config directory
  ansible.builtin.file:
    path: '{{ common_docker_compose_data_dir }}/rclone/'
    state: directory
    mode: '0755'

- name: Copy rclone config
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: '{{ common_docker_compose_data_dir }}/rclone/'
    mode: '0644'
  with_fileglob: '../secrets/rclone/*'

- name: Create borgmatic config location
  ansible.builtin.file:
    path: '{{ common_docker_compose_data_dir }}/borgmatic/config'
    state: directory
    mode: '0600'

- name: Generate borgmatic configs
  ansible.builtin.copy:
    dest: '{{ common_docker_compose_data_dir }}/borgmatic/config/{{ item.key }}.yaml'
    content: >-
      {{
        barbie_borg_default_configs |
        ansible.builtin.combine(
          item.value,
          recursive=true,
          list_merge="append_rp"
        ) |
        to_nice_yaml(indent=2)
      }}
    mode: '0644'
  with_items: "{{ barbie_borg_configs | dict2items }}"

- name: Generate borgmatic remote mountpoints
  ansible.builtin.file:
    path: '{{ common_docker_compose_data_dir }}/borgmatic/config/{{ item.key }}'
    state: directory
    mode: '0755'
  with_items: "{{ barbie_borg_configs | dict2items }}"

- name: Copy borgmatic files
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: '{{ common_docker_compose_data_dir }}/borgmatic/config/'
    mode: '0644'
  with_fileglob: '../secrets/borgmatic.d/*'
