barbie_borg_default_configs:
  numeric_ids: true
  atime: true
  ctime: true
  files_cache: ctime,size
  keep_daily: 2
  keep_weekly: 2
  keep_monthly: 3
  exclude_caches: true
  exclude_if_present:
    - .nobackup
  encryption_passphrase: '{credential container borg_passphrase}'
  compression: auto,zstd
  archive_name_format: '{{ item.key }}-{now:%Y-%m-%d-%H%M%S}'
  lock_wait: 90
  apprise:
    services:
      - url: mailtos://${SMTP_PASSWORD}@${SMTP_HOST}?user=${SMTP_USER}&to=${ADMIN_EMAIL}&from=${SMTP_USER}
        label: mailto
    send_logs: true
    states:
      - fail
  uptime_kuma:
    states:
      - finish
      - fail

barbie_borg_configs:
  barbie:
    repositories:
      - path: /mnt/repository/barbie
        label: local
    working_directory: /etc/borgmatic.d/barbie
    source_directories:
      - cloud
      - workspaces
    exclude_from:
      - /tmp/barbie-excludes
    uptime_kuma:
      push_url: https://status.zurg.benpearce.io/api/push/atCsHvVap4
    commands:
      - before: action
        when: [extract]
        run: [hooks check-empty cloud]
      - before: action
        when: [extract]
        run: [hooks check-empty workspaces]
      - before: action
        when: [create]
        run: [hooks exclude-gitignore-files workspaces /tmp/barbie-excludes]
  jessie:
    repositories:
      - path: /mnt/repository/jessie
        label: local
    working_directory: /etc/borgmatic.d/jessie
    source_directories:
      - mnt/data/applications
    uptime_kuma:
      push_url: https://status.zurg.benpearce.io/api/push/yVT6jASluw
    commands:
      - before: action
        when: [create, extract]
        run: [hooks mount jessie]
      - before: action
        when: [create]
        run: [hooks ability jessie postgres-backup create]
      - after: action
        when: [create]
        run: [hooks ability jessie postgres-backup clean]
      - after: action
        when: [create, extract]
        run: [hooks unmount jessie]
  etch:
    repositories:
      - path: /mnt/repository/etch
        label: local
    working_directory: /etc/borgmatic.d/etch
    source_directories:
      - mnt/data/applications
    uptime_kuma:
      push_url: https://status.zurg.benpearce.io/api/push/V1wl7HfgJT
    commands:
      - before: action
        when: [create, extract]
        run: [hooks mount etch]
      - before: action
        when: [create]
        run: [hooks ability etch postgres-backup create]
      - after: action
        when: [create]
        run: [hooks ability etch postgres-backup clean]
      - after: action
        when: [create, extract]
        run: [hooks unmount etch]
  rc:
    repositories:
      - path: /mnt/repository/rc
        label: local
    working_directory: /etc/borgmatic.d/rc
    source_directories:
      - mnt/data/applications
    uptime_kuma:
      push_url: https://status.zurg.benpearce.io/api/push/VHEcxnEdnQ
      states:
        - finish
        - fail
    commands:
      - before: action
        when: [create, extract]
        run:
          [hooks mount rc]
      - before: action
        when: [create]
        run: [hooks ability rc mailcow-backup create]
      - after: action
        when: [create]
        run: [hooks ability rc mailcow-backup clean]
      - after: action
        when: [create, extract]
        run: [hooks unmount rc]
  sparks:
    repositories:
      - path: /mnt/repository/sparks
        label: local
    working_directory: /etc/borgmatic.d/sparks
    source_directories:
      - mnt/data/applications
    uptime_kuma:
      push_url: https://status.zurg.benpearce.io/api/push/r0XwLadMNt
    commands:
      - before: action
        when: [create, extract]
        run: [hooks mount sparks]
      - after: action
        when: [create, extract]
        run: [hooks unmount sparks]
  woody:
    repositories:
      - path: /mnt/repository/woody
        label: local
    working_directory: /etc/borgmatic.d/woody
    source_directories:
      - mnt/data/applications
    uptime_kuma:
      push_url: https://status.zurg.benpearce.io/api/push/zwzCWI5lIA
    commands:
      - before: action
        when: [create, extract]
        run: [hooks mount woody]
      - before: action
        when: [create]
        run:
          - hooks ability woody discourse-backup create
          - hooks ability woody gitlab-backup create
      - after: action
        when: [create]
        run:
          - hooks ability woody discourse-backup clean
          - hooks ability woody gitlab-backup clean
      - after: action
        when: [create, extract]
        run: [hooks unmount woody]
  zurg:
    repositories:
      - path: /mnt/repository/zurg
        label: local
    working_directory: /etc/borgmatic.d/zurg
    source_directories:
      - mnt/data/applications
    uptime_kuma:
      push_url: https://status.zurg.benpearce.io/api/push/49B66NYVTx
    commands:
      - before: action
        when: [create, extract]
        run: [hooks mount zurg]
      - before: action
        when: [create]
        run: [hooks ability zurg postgres-backup create]
      - after: action
        when: [create]
        run: [hooks ability zurg postgres-backup clean]
      - after: action
        when: [create, extract]
        run: [hooks unmount zurg]
