SIZE={{ log2ram_size | default('100M') }}
MAIL={{ log2ram_mail | default('false') }}
PATH_DISK="{{ log2ram_path_disk | default('/var/log') }}"
ZL2R="{{ log2ram_zl2r | default('false') }}"
COMP_ALG={{ log2ram_comp_alg | default('lz4') }}
LOG_DISK_SIZE={{ log2ram_log_disk_size | default('100M') }}
