- name: Ensure journald drop-in directory exists
  ansible.builtin.file:
    path: /etc/systemd/journald.conf.d
    state: directory
    mode: '0755'

- name: Configure journald
  community.general.ini_file:
    path: /etc/systemd/journald.conf.d/{{ common_journald_drop_in }}
    section: Journal
    option: '{{ item.option }}'
    value: '{{ item.value }}'
    mode: '0644'
  loop: '{{ common_journald_config }}'
  notify:
    - Restart systemd-journald service

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
