HOST={{ host }}
SYNCTHING_HOST=syncthing.{{ host }}
TRAEFIK_HOST=traefik.{{ host }}
CODE_HOST=code.{{ host }}
GIT_HOST=git.{{ host }}
ADMIN_MAIL={{ admin_email }}
TZ={{ timezone }}
PUID={{ user.1 }}
GUID={{ user.2 }}
CONFIG_DIR={{ config_dir }}
DATA_DIR={{ data_dir }}
HOME_DIR={{ home_dir }}
HOST_IP=10.0.0.5
GITLAB_IP=10.0.0.6