PUID=1000
PGID=1000
TZ=Europe/London

ADMIN_MAIL=me@benpearce.io

DATA_DIR=/opt/dev-server-deployment/data
CONFIG_DIR=/opt/dev-server-deployment/config
HOME_DIR=/home/ben

HOST=sparks.benpearce.io
SYNCTHING_HOST=syncthing.sparks.benpearce.io
TRAEFIK_HOST=traefik.sparks.benpearce.io
CODE_HOST=code.sparks.benpearce.io
GIT_HOST=git.sparks.benpearce.io

HOST_IP=10.0.0.5
GITLAB_IP=10.0.0.6