- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  register: common_result
  until: common_result is not failed
  delay: 6
  retries: 10

- name: Install required system packages
  ansible.builtin.apt:
    pkg:
      - python3-paramiko
    state: present
    update_cache: true
  register: common_result
  until: common_result is not failed
  delay: 6
  retries: 10

- name: Copy host keys
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: /etc/ssh
    owner: root
    group: root
    mode: '0600'
  with_fileglob:
    - ../../{{ inventory_hostname }}/secrets/ssh_host_keys/*
