version: "3.8"
services:

  proxy-{{ item.name }}:
    build:
      context: .
      dockerfile: proxy.Dockerfile
    container_name: ses-proxy-{{ item.name }}
    env_file:
      - {{ item.name }}.org.env
    restart: unless-stopped
