AWS_ACCESS_KEY_ID={{ item.aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ item.aws_secret_access_key }}
AWS_DEFAULT_REGION={{ item.aws_default_region }}
S3_BUCKET_NAME={{ item.s3_bucket_name }}
POSTMASTER_MAILBOX={{ item.postmaster_mailbox }}

SMTP_HOST=postfix
SMTP_PORT=25
