[Unit]
Description=Set CPU power management parameters
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '\
echo powersave | tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor && \
echo balance_power | tee /sys/devices/system/cpu/cpu*/cpufreq/energy_performance_preference && \
echo 80 > /sys/devices/system/cpu/intel_pstate/max_perf_pct \
'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target