- name: Install expect
  ansible.builtin.apt:
    pkg:
      - expect
    state: present

- name: Copy mailcow config from backup
  ansible.builtin.shell: |
    cp {{ rc_data_path }}/mailcow/*/mailcow.conf /home/rc/rc-server-deployment/mailcow/
  register: rc_copy_mailcow_config
  changed_when: rc_copy_mailcow_config.rc == 0

- name: Set ownership of mailcow configuration
  ansible.builtin.file:
    path: /home/rc/rc-server-deployment/mailcow/mailcow.conf
    owner: rc
    group: rc

- name: Boot mailcow services
  community.docker.docker_compose_v2:
    project_src: /home/rc/rc-server-deployment/mailcow/

- name: Restore mailcow backup
  ansible.builtin.shell: |
    MAILCOW_BACKUP_LOCATION={{ rc_data_path }}/mailcow/ /home/rc/rc-server-deployment/unattended_restore.expect

- name: Restore borgmatic backups
  community.docker.docker_container_exec:
    container: certbot
    command: /etc/letsencrypt/renewal-hooks/deploy/mailcow.sh
