- name: Install required system packages
  ansible.builtin.apt:
    pkg:
      - netfilter-persistent
    state: present
    update_cache: true

- name: Open port 25 (SMTP) in iptables
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 25
    jump: ACCEPT
    action: insert

- name: Save iptables rules using netfilter-persistent
  ansible.builtin.command: netfilter-persistent save
  register: wireguard_iptables_save
  changed_when: wireguard_iptables_save.rc == 0

- name: Create configuration directory
  ansible.builtin.file:
    path: '{{ common_docker_compose_data_dir }}'
    state: directory
    mode: '0755'

- name: Copy ddclient configuration files
  ansible.builtin.copy:
    src: files/ddclient
    dest: '{{ common_docker_compose_data_dir }}'
    mode: '0755'

- name: Copy wireguard secrets
  ansible.builtin.copy:
    src: secrets/wireguard
    dest: '{{ common_docker_compose_data_dir }}'
    mode: '0755'
