- name: Open port 25 (SMTP) in iptables
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 25
    jump: ACCEPT
    action: insert
    rule_num: 5

- name: Save iptables rules using netfilter-persistent
  ansible.builtin.command: netfilter-persistent save
  register: wireguard_iptables_save
  changed_when: wireguard_iptables_save.rc == 0

- name: Create configuration directory
  ansible.builtin.file:
    path: '{{ wireguard_data_path }}'
    state: directory
    mode: '0755'

- name: Copy ddclient configuration files
  ansible.builtin.copy:
    src: files/ddclient
    dest: '{{ wireguard_data_path }}'
    mode: '0755'

- name: Copy wireguard secrets
  ansible.builtin.copy:
    src: secrets/wireguard
    dest: '{{ wireguard_data_path }}'
    mode: '0755'
